td{
padding-left:15px;
}
#header {
margin-left:10%;
color:#242424;
font-weight:bold;
font-size:30px
;margin-bottom:20px;
}
#testinfo{
margin-left:10%;
margin-bottom:40px;
}
#tinfo{
text-align:left;
width:90%;height:90px;
border-collapse:collapse;
font-size:13px;
border-style:solid;
border-width:1px;
border-color:#446666;
}
#infotitle{
color:#FFFFFF;
background-color:#446666;
height:25px;
font-weight:bold;
font-size:16px;
}



#pdiv{
margin-left:10%;
margin-bottom:20px;
}
#ptable{
text-align:left;
width:90%;
border-collapse:collapse;
font-size:13px;
border-style:solid;
border-width:1px;
border-color:#339933;
}

#pttitle{
color:#FFFFFF;
background-color:#339933;
height:25px;
font-size:16px;
}



#fdiv{
margin-left:10%;
margin-bottom:20px;
}
#ftable{
text-align:left;
width:90%;
border-collapse:collapse;
font-size:13px;
border-style:solid;
border-width:1px;
border-color:#FF0000;
}
#fttitle{
color:#FFFFFF;
background-color:#FF0000;
height:25px;
font-size:16px;
}
#sdiv{
margin-left:10%;
}
#stable{
text-align:left;
width:90%;
border-collapse:collapse;
font-size:13px;
border-style:solid;
border-width:1px;
border-color:#ffaa22;
}
#sttitle{
color:#FFFFFF;
background-color:#ffaa22;
height:25px;
font-size:16px;
}
.greyRow{
background-color:#eeeeff;
}
.pinkRow{
background-color:#FFFFCC;
}
.tsteps{
font-size:12px;
margin-left:1%;
}
.img{
width:10px;
height:10px;
margin-left:8%;
}
